@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: small;
}

p {
  font-size: 12px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
}

.welcome-header {
  text-align: start;
  color: black;
  font-size: 16px;
}

.welcome-header-wrapper {
  width: 100%;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 4em;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.post-button {
  font-size: medium;
}

.entire-search-bar {
  text-align: center;
  width: 100%;
}

.search-btn {
  background-color: transparent;
  border: 2px solid midnightblue;
  border-radius: 8px;
  font-size: clamp(15px, .5vw, 30px);
  font-family: inherit;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.search-box {
  width: 50%;
  margin-right: 3%;
}

.channel-title-home {
  margin-top: 10px;
  margin-bottom: 50px;
  color: slategrey;
}

.video-title-home {
  margin-bottom: 10px;
  color: black;
}

.entire-video-home {
  margin: 70px;
  color: black;
}

.entire-video {
  color: black;
  margin-left: 6%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.video-title {
  color: black;
  width: 300px;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.channel-title {
  color: slategrey;
  width: 300px;
  display: block;
}

.thumbnail {
  border-radius: 10px;
}

.main-video {
  width: 100%;
  height: 400px;
}

.comment-form {
  margin-top: 2.5%;
}

.comment-count {
  text-indent: .5%;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-bottom: 0.2px solid rgba(119, 136, 153, 0.577);
}

.comment-box {
  width: 35%;
  height: 80%;
  margin-right: 2.5%;
  margin-left: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 4px;
}

.comment-section {
  padding: .2%;
  width: 100%;
  height: 100%;
  border-bottom: .2px solid rgba(119, 136, 153, 0.577);
}

.user-comment {
  margin-bottom: 2%;
}

.comment-text {
  color: black;
  margin-left: .5%;
}

.comment-username {
  color: slategray;
  margin-left: .5%;
}

.video-results-video-title {
  font-size: 20px;
  margin-left: 1%;
}

.video-results-channel-title {
  font-size: 20px;
  color: slategrey;
  margin-left: 1%;
}